*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor1
{
    border: 1px solid black;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;

}

.divtitulo
{
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
h1
{
    display: inline-block;
    font-size: 50px;
    margin-right: 16px;
}

.divlogo
{
    border: 1px solid black;
    width: 50%;
    height: 100%;
}
.imglogo
{
    width: 163px;
    margin-top: 6px;
    margin-left: 3px;
    border-radius: 100%;
}

/* ---------------------------------------------------MAIN--------------------------------------------------------------- */
.contenedorMain
{
    border: 1px solid black;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
}
.divNav
{
    border: 1px solid black;
    width: 20%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a
{
    display: block;
    text-decoration: none;
    font-size: 44px;
    color: white;
    width: 100%;
    text-align: center;
}

a[href="#"]
{
    background-color: rgb(20, 20, 245);
}

.divAutos
{
    border: 1px solid black;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}
.auto1
{
    border: 1px solid black;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
}
.auto2
{
    border: 1px solid black;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
}
.auto3
{
    border: 1px solid black;  
    width: 350px;
    height: 500px; 
    background-color: white;
    border-radius: 30px;
}

/* ------------------------------------------------------------------------------------------------------------- */
.subdiv1_1
{
    border: 1px solid black;
    width: 100%;
    height: 40%;
}
.subdiv1_2
{
    border: 1px solid black;
    width: 100%;
    height: 60%;
}

/* ------------------------------------------------------------------------------------------------------------- */
.subdiv2_1
{
    border: 1px solid black;
    width: 100%;
    height: 40%;
}
.subdiv2_2
{
    border: 1px solid black;
    width: 100%;
    height: 60%;
}
/* ------------------------------------------------------------------------------------------------------------- */
.subdiv3_1
{
    border: 1px solid black;
    width: 100%;
    height: 40%;
}
.subdiv3_2
{
    border: 1px solid black;
    width: 100%;
    height: 60%;
}

h3
{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    
}
ul
{
    margin-left: 60px;
    font-size: 29px;
    margin-top: 31px;
}
li
{
    margin-top: 15px;
}
img
{
    border-top-left-radius: 24px; 
    border-top-right-radius: 24px; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
    display: block; 
}

/* ------------------------------------------------FOOTER------------------------------------------------------------------ */

.divfooter
{
    border: 1px solid black;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.subdiv1
{
    border: 1px solid black;
    width: 33%;
    height: 100%;
}
.subdiv2
{
    border: 1px solid black;
    width: 33%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.subdiv3
{
    border: 1px solid black;
    width: 33%;
    height: 100%;
}
form
{
    font-size: 25px;
}

.afooter
{
    color: black;
    text-decoration: underline;
}